@import url('https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu');
body
{
  background-color: #f5f5f5;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-font-smoothing: antialiased;
  -moz-overflow-scrolling: touch;
  -o-font-smoothing: antialiased;
  -o-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Comfortaa";
  font-weight: 300;
  font-size: 70px;
  color: #ffffff;
}

p
{
  line-height: 28px;
  margin-bottom: 25px;
}

.centered
{
  text-align: center;
}

a
{
  color: #00bfa5;
}

a:hover, a:focus
{
  color: #ff8f00;
  text-decoration: none;
  outline: 0;
}

hr
{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar
{
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse
{
  background: ;
  border-color: ;
}

.navbar-inverse .navbar-nav > .active > a
{
  background-color: #ff9800;
}

.navbar-inverse .navbar-brand
{
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#headerwrap
{
  background: url(../img/back.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1
{
  margin-top: 100px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2
{
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
}

.w h4
{
  font-size: 25px;
  color: #ff8f00;
  /*text-shadow: 1px 1px #555;*/
}

.w i
{
  font-size: 20px;
}

#dg
{
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#dg h4
{
  font-size: 40px;
}

.tilt
{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover
{
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.wb
{
  padding-top: 35px;
  margin-bottom:
}

.wb h4
{
  font-size: 35px;
  color: #ff8f00;
}

#lg
{
  background: #f5f5f5; <!--#ebebeb-->
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#lg h4
{
  font-size: 45px;
  color: #ff8f00; <!--#ff8f00-->
}

#lg h3
{
  font-size: 35px;
  color: #ff8f00; <!-- #FFCC80-->
}


#bc
{
  background: #FFCC80;
  padding-top: 70px;
  padding-bottom: 70px;
}

#bc h4
{
  color: #ff8f00;
  font-size: 45px;Ð°
}

#lt
{
  background: #ebebeb; <!-- #f5f5f5-->
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}

#footer
{
  padding-top: 30px;
  padding-bottom: 20px;
}

#footer i
{
  color: #555;
  font-size: 30px;
  padding: 20px;
}

#footer i:hover
{
  color: #ff8f00;
}
#Copyright (c) {2017} Copyright Filin Corporation All Rights Reserved.
