@import url('https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu');
body
{
  background-color: #f5f5f5;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-font-smoothing: antialiased;
  -moz-overflow-scrolling: touch;
  -o-font-smoothing: antialiased;
  -o-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Comfortaa";
  font-weight: 300;
  font-size: 70px;
  color: #ffffff;
}

p
{
  line-height: 28px;
  margin-bottom: 25px;
}

summary
{
  cursor: pointer;
  font-family: monospace, monospace;
  /*font-size: 1em;*/
}

.centered
{
  text-align: center;
}

a
{
  color: #00bfa5;
}

a:hover, a:focus
{
  color: #ff8f00;
  text-decoration: none;
  outline: 0;
}

h4
{
  color: #ff8f00;
  font-size: 45px;
}
.navbar
{
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse
{
  background: ;
  border-color: ;
}

.navbar-inverse .navbar-nav > .active_P > a
{
  background-color: #ff9800;
  color: white;
}

.navbar-inverse .navbar-brand
{
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#headerwrap_P
{
  background: url(../img/back.jpg) no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap_P h1
{
  margin-top: 100px;
  color: #FFB74D;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#tst
{
  background-color: #ebebeb;
  padding-top: 70px;
  padding-bottom: 70px;
}

#preft
{
  background-color: #FFCC80;
  padding-top: 70px;
  padding-bottom: 70px;
}

#code1 pre
{
  cursor: text;
}

hr
{
  color: #555;
  background-color: #555;
  border: none;
  height: 2px;
}

#footer
{
  padding-top: 30px;
  padding-bottom: 20px;
}

#footer i
{
  color: #555;
  font-size: 30px;
  padding: 20px;
}

#footer i:hover
{
  color: #ff8f00;
}
#Copyright (c) {2017} Copyright Filin Corporation All Rights Reserved.
